<%- include('header-html') %>

<h2>Compte Utilisateur</h2>

<p>Nom: <%= user.lastname %></p>
<p>Prenom: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<button class="update_button">modifier informations</button>

<form action="/my-account/check-password/<%= userID %>" method="post">
    <div class="check_password_container" id="check-password-container">
        <p>confirmer votre mot de passe</p>
        <input type="password" id="password" name="password">
        <button type="submit">confirmer</button>
    </div>
</form>
<% if(locals.errorMessage) { %>
    <%= errorMessage %>
<%}%>

<form action="/my-account/delete-user/<%= userID %>" method="post">
    <p>Supprimer mon compte</p>
    <button type="submit">supprimer</button>
</form>


<script>

const updateBtn = document.querySelector('.update_button');
const checkPassword = document.getElementById('check-password-container');

updateBtn.addEventListener('click', () => {
    checkPassword.classList.remove('check_password_container');
})
    
</script>
<%- include('footer-html') %>
