<%- include('header-html') %>

<h2>Compte Utilisateur</h2>

<p>Nom: <%= user.nom %></p>
<p>Prenom: <%= user.prenom %></p>
<p>Email: <%= user.email %></p>
<a href="/my-account/update-infos-user/<%= userID %>">Modifier mes informations</a>


<%- include('footer-html') %>